@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply m-8;
  }

  body {
    @apply bg-sky-600;
  }

  button {
    transition: all 0.1s ease-out;
  }

  button:hover {
    opacity: 70%;
  }
}
